<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Website Wildan</title>
    <link rel="stylesheet" href= "{% static "css/mystyle.css" %}">
    <link rel="stylesheet" href= "{% static "css/bootstrap.css" %}">
    <style>
          
        .menubar{
            background-color: #373737;    
        }
        .menubar a{
                color: #ffffff;
        }
        .body1{
            background-color: #69bcd1; 
        }
        th {
        text-align: center;
        }
        table#t01 {  
        border: 1px solid black;
        border-collapse: collapse;
        }
        
    </style>
</head>
<body class= "body1">
        <form action="" method="POST"style="margin: 10vw 10vw">
            {% csrf_token %}
            <table>
                {{post_form.as_table}}
            </table>
            <button type="submit">Submit</button>
        </form>
        <div class="centertext">
        <table style="width: 100%; margin-left: 40vw; border: 1px solid black" id= "t01">
            <tr>
                <th style= "border: 1px solid black; padding: 5px 25px">Tanggal</th>
                <th style= "border: 1px solid black; padding: 5px 25px">Pukul</th> 
                <th style= "border: 1px solid black; padding: 5px 25px">Kegiatan</th>
                <th style= "border: 1px solid black; padding: 5px 25px">Tempat</th>
                <th style= "border: 1px solid black; padding: 5px 25px">Kategori</th>
            </tr>
        </table>
        </div>
        <br>
        
        {% for a in posting %}
        <table style= "margin-left: 40vw; border: 1px solid black" id="t01">
            
            <tr>
                <td style= "border: 1px solid black; padding: 5px 10px">{{a.tanggal}}</td>
                <td style= "border: 1px solid black; padding: 5px 10px">{{a.jam}}</td>
                <td style= "border: 1px solid black; padding: 5px 10px">{{a.kegiatan}}</td>
                <td style= "border: 1px solid black; padding: 5px 10px">{{a.tempat}}</td>
                <td style= "border: 1px solid black; padding: 5px 10px">{{a.kategori}}</td>
                <!-- <div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input name="id" value="{{i.id}}" type="hidden">
                        <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Delete</button>
                    </form>
                </div> -->
                <form action="{% url 'jadwal:delete' a.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="a_id" value="{{ a.id }}"/>
                    <button type="" class="btn-sm col-2" style="margin-left: 80vw;" >
                     Hapus
                    </button> 
                </form>
            </tr>
        <br>
        </table>
        
        {% endfor %}
    <div class="menubar">
            <a href="{% url 'homepage:home' %}">Home</a>
            <a href="{% url 'homepage:about' %}">About</a>
            <a href="{% url 'homepage:contact' %}">Contact</a>
            <a href="{% url 'jadwal:jadwal' %}">Jadwal</a>
    </div>
</body>


</html>
