<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Website Wildan</title>
    <link rel="stylesheet" href= "{% static "css/mystyle.css" %}">
    <link rel="stylesheet" href= "{% static "css/bootstrap.css" %}">
    <style>
        body{
            background-image: url("{% static "images/background32.jpg" %}");
            background-repeat: no-repeat;
 
        }
        .menubar{
            background-color: #AE9CB2;
        }

    </style>
</head>
<body>
    <section class = "body">
    <img src="{% static "images/contact.png" %}" id="contact";>
    <div class="menubar">
        <a href="{% url 'homepage:home' %}">Home</a>
        <a href="{% url 'homepage:about' %}">About</a>
        <a href="{% url 'homepage:contact' %}">Contact</a>
        <a href="{% url 'jadwal:jadwal' %}">Jadwal</a>
    </div>
    <div>
        <div class= "follow">Follow me on :</div>
        <div><a class= "twitterlogo" href= "https://twitter.com/m_wildan80"><img src= "{% static "images/twitter.png" %}"> </a></div>
        <div><a class= "iglogo" href= "https://www.instagram.com/m_wildan80"><img src= "{% static "images/ig(2).png" %}"> </a></div>
        <div class= "twitter">Twitter</div>
        <div class= "ig">Instagram</div>
        <div class= "username">@m_wildan80</div>
    </div>
    </section>
</body>
</html>